<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie</title>
    <link rel="shortcut icon" href="http://www.omdbapi.com/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../home.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Potta+One&family=Yusei+Magic&display=swap');
        
    </style>
</head>
<body>
    <br><br>
    <h2 class="head"> Movie Search</h2>
    <div class="ani">
        <div class="ani-cover">
            <span class="ani-text"></span>

        </div>
    </div>
    <form action="/search" method="POST">
    <div class="b2">
        <div class="input-btn-cover">
            <input class="input" name="moviename" type="text" autocomplete="off" placeholder="Enter Your Movie">
            <button id="btn" type="submit" class="button is-info" >Search</button>
        </div>
    </div>
</form>

  

<% if(movies!=""){ %>
    <div class="box">
   <%for(let s in movies){ %>
       <% if(movies[s]!=undefined){ %>
    <div class="card">
        <img src="<%=movies[s].Poster %>" style="width: 150px;height: 150px;margin: auto;margin-top: 20px;border-radius: 10px;" alt="Avatar" style="width:100%">
        <div class="container">
          <h4><b>Title:<%=movies[s].Title %></b></h4> 
          <p>Year:<%=movies[s].Year %></p> 
          <a href="#"class="down">Add </a>
          <br>
        </div>
      </div>
     <%  }%>
    <% }%>
    </div>
    <% }
    %>
</body>
</html>