body {
    background: linear-gradient(rgba(0, 0, 155, 0.4), rgba(241, 241, 110, 0.3)),url("https://wallpapercave.com/wp/0l0kzYB.jpg") no-repeat center center/cover fixed;
    background-size: cover;
}

.b2 {
    position: relative;
    height: fit-content;
    font-size: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55%;
    margin-top: -6%;
}

.ani {
    position: relative;
    height: 8rem;
    display: flex;
}

.ani-cover {
    display: flex;
    align-items: center;
    position: relative;
    width: 3rem;
    margin-left: 12vw;
}

.ani-text {
    font-family: 'Yusei Magic', sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    border-right: 2px solid white;
    font-size: 6rem;
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 7.8rem;
    color: rgba(250, 250, 250, 0.8);
    animation: animate 2.5s linear infinite;
    letter-spacing: 8px;
    margin-top: -6rem;
    border-radius: .8rem;
}

@keyframes animate {
    0%, 10%, 100% {
        height: 0;
    }
    70%, 90% {
        height: 25.6rem;
    }
}

.input-btn-cover {
    background: rgba(250, 250, 250, 0.25);
    border: 1px solid rgba(250, 250, 250, 0.2);
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: -3px 3px 25px 0px black;
    margin-top: 1rem;
   
}

.input {
    outline: none;
    padding: 1rem;
    border-radius: .8rem;
    border: none;
    width: 35vw;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);

}

.input::placeholder {
    font-family: FontAwesome, 'Open Sans';
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(50 152 220 / 0.8);
    color: white;
    outline: none;
    cursor: pointer;
    border-radius: .8rem;
    border: 2px solid rgba(250, 250, 250, 0.2);
    margin: 0 0 0 1rem;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
    width: 8rem;
    height: 3rem;
    font-size: 1.8rem;
    line-height: 1;
    letter-spacing: 1px;

}

.button:hover {
    background:rgb(0, 123, 206);
    transition: .3s;
    transform: scale(1.08);
}

@media screen and (max-width:906px) {
   
    .b2 {
        height: 50%;
    }
    .b1 .h {
        margin-bottom: 4rem;
        padding: 1rem 0;
    }
}

@media screen and (max-width:884px) {
  
    .ani-cover {
        width: 40vw;
        margin: 0;
    }
    .ani {
        justify-content: center;
        height: 12vw;
    }
    .ani-text {
        font-size: 10vw;
        height: 13vw;
    }
    .input {
        width: 60vw;
    }
    @keyframes animate {
        70%, 90% {
            width: 42vw;
        }
    }
}

@media screen and (max-width:690px) {
    
    .ani-cover {
        width: 44vw;
    }
    @keyframes animate {
        70%, 90% {
            width: 40vw;
        }
    }
}

@media screen and (max-width:519px) {
    .input {
        width: 50vw;
    }
        .head{
            width: 16rem;
        }
    
    .ani-cover {
        width: 45vw;
    }
    @keyframes animate {
        70%, 90% {
            width: 45vw;
        }
    }
}

@media screen and (max-width:400px) {
    .input {
        width: 45vw;
        padding-left: 0%;

    }
    .head{
        width: 16rem;
    }
    .button{
        width: 6rem;
    height: 2.5rem;
    font-size: 1.2rem;
    }
    .ani-cover {
        width: 46vw;
    }
    @keyframes animate {
        70%, 90% {
            width: 46vw;
        }
    }
}

@media screen and (max-width:320px) {
    .head{
        width: 16rem;
    }
    .input {
        width: 70vw;
    }
    .input-btn-cover {
        flex-direction: column;
    }
    .button {
        margin-top: 1rem;
    }
    .ani-cover {
        width: 47vw;
    }
    @keyframes animate {
        70%, 90% {
            width: 47vw;
        }
    }
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 250px;
    flex-direction: row;
    border-radius: 10px;
   margin: auto;
   text-align: center;
    background:rgba(255,254,255,0.9);
    margin-top: 2rem;
  }
  
  .card:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.5);
  }
  
  

  .down{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(10 22 20 / 0.8);
    color: white;
    outline: none;
    cursor: pointer;
    border-radius: .8rem;
    border: 2px solid rgba(250, 250, 250, 0.2);
    margin: 0 0 0 1rem;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
    width: 6rem;
    height: 1.5rem;
    font-size: .8rem;
    line-height: 1;
    letter-spacing: 1px;
    text-align: center;
    margin: auto;
  }
  .down:hover {
    background: goldenrod;
    transition: .3s;
    transform: scale(1.08);
}
.box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .head{
    
      color: white;
      text-align: center;
      border: 2px solid rgba(247, 241, 241, 0.8);
      border-radius: 10px;
      font-family: 'Open Sans', sans-serif;
    box-shadow: 0 0 20px 0px rgba(255, 254, 250, 0.8);
    width: 18rem;
    height: 3rem;
    align-items: center;
    margin: auto;
    line-height: 2.5;
    letter-spacing: 1px;
   
     }
     